<h1 class="page_title">留言板</h1>

<table class="table">
  <thead>
    <tr>
      <td>時間</td>
      <td>姓名</td>
      <td>留言</td>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>
      <td><%= comment.name %></td>
      <td><%= comment.content %></td>
      <td><%= comment.created_at %></td>
      <td><%= link_to "刪除", visitor_path(visitor), method: "delete", data: { confirm: "確認刪除" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
