<h1 class="page_title">訪客列表</h1>

<p>session: <%= session[:user]%></p>

<table class="table">
  <thead>
    <tr>
      <td>帳號</td>
      <td>姓名</td>
      <td>信箱</td>
      <td>認證</td>
      <td><%= link_to "新增訪客", new_visitor_path, class:"btn btn-primary btn-xs" %></td>
    </tr>
  </thead>
  <tbody>
    <% @visitors.each do |visitor| %>
    <tr>
      <td><%= visitor.account %></td>
      <td><%= visitor.name %></td>
      <td><%= visitor.email %></td>
      <td><%= visitor.isVerify %></td>
      <td><%= link_to "刪除", visitor_path(visitor), method: "delete", data: { confirm: "確認刪除" }, class:"btn btn-danger btn-xs" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
