<h1 class="page_title">BMI 計算機</h1>

<%= form_for @bmi_calculator, url: '/bmi/result' do |f| %>
  <div class="form-group">
    <%= f.label :body_height, "身高：", class:"col-sm-1" %>
    <%= f.text_field :body_height , maxlength: 3, class:"col-sm-1"%>公分
  </div>
  <div class="form-group">
    <%= f.label :body_weight, "體重：" , class:"col-sm-1" %>
    <%= f.text_field :body_weight , maxlength: 3, class:"col-sm-1"%>公斤
  </div>
  &nbsp&nbsp&nbsp<%= f.submit "開始計算", class: "btn btn-info btn-sm" %>
<% end %>
<br>

<p>這邊有兩種驗證, 一種欄位是不可空白, 另一種是用正規表示式來確認輸入的是非0開頭的數字</p>
<P>正規表示式的內容為 /\A[1-9]\d*\z/, 會依據錯誤類型回傳錯誤結果</P>
<br>

<div class="validate_errors">
  <% if @bmi_calculator.errors.any? %>
    <p><%= @bmi_calculator.errors[:body_height][0] %></p>
    <p><%= @bmi_calculator.errors[:body_weight][0] %></p>
  <% end %>
</div>
