<h1 class="page_title">候選人列表</h1>

<%= icon_link_to "新增候選人", new_candidate_path, "knight" %>

<table class="table">
  <thead>
    <tr>
      <td>投票</td>
      <td>候選人姓名</td>
      <td>政黨</td>
      <td>政見</td>
      <td>得票數</td>
      <td>處理</td>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
    <tr>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter<%= candidate.id %>">
          投給這位
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter<%= candidate.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                確定要投給<%= candidate.name %>嗎?
              </div>
              <div class="modal-footer">
                <%= link_to "確定", vote_candidate_path(candidate), method: "post", class:"btn btn-primary btn-sm" %>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>

      </td>
      <td><%= candidate.name %>(年齡：<%= candidate.age %> 歲)</td>
      <td><%= candidate.party %></td>
      <td><%= candidate.politics %></td>
      <td><%= candidate.vote_logs.size %></td>
      <td>
        <%= link_to "編輯", edit_candidate_path(candidate) %>
        <%= link_to "刪除", candidate_path(candidate), method: "delete", data: { confirm: "確認刪除" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @candidates %>
<br>
<br>
<p>這邊利用bootstrap的modal做出一個確認用的彈跳視窗</p>
