<h1 class="page_title">商品列表</h1>

<%= link_to '新增商品', new_product_path, class: "btn btn-default btn-primary" %>
<%= link_to '購物車', cart_path, class: "btn btn-default btn-success" %>

<table class="table table-hover">
  <thead>
    <tr>
      <td>商品名稱</td>
      <td>售價</td>
      <td>處理</td>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= link_to '放到購物車', add_cart_path(product), method: "post", class: "btn btn-xs btn-danger" %>
        <%= product.title %>
      </td>
      <td><%= product.price %></td>
      <td>
        <%= link_to '編輯', edit_product_path(product), class: "btn btn-xs btn-default" %>
        <%= link_to '刪除', product, method: "delete", data: { confirm: "確定刪除?" }, class: "btn btn-xs btn-default" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<p>這邊跟原始範例一樣沒有做修改, 購物車是放在session當中</p>
<p>原先想串連訪客帳號的部分, 然後再加結帳完成訂單和金流的部分</p>
<p>最後決定另外做一個網站來完成這個規劃</p>
