<%= link_to '<p>關於我</p>'.html_safe, root_path %>
<p class="title">個人練習</P>
<%= link_to '<p>留言板</p>'.html_safe, comments_path %>
<%= link_to '<p>訪客</p>'.html_safe, visitors_path %>
<p class="title">課本範例練習</P>
<%= link_to '<p>投票系統</p>'.html_safe, candidates_path %>
<%= link_to '<p>購物車</p>'.html_safe, products_path %>
<%= link_to '<p>BMI</p>'.html_safe, bmi_path %>

<!-- #應該改用ul>li的 懶得改了 -->
