<!DOCTYPE html>
<html>
  <head>
    <title>HelloRails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header">
      <div class="container">
        <h1 id="logo"><b>BoYen</b></h1>
        <p class="nav navbar-right">
          <b>&nbsp&nbsp<%= Visitor.find_visitor(session[:user])%> 你好</b>
          <%= link_to "登入", log_visitors_path, class:"btn btn-info btn-xs" if session[:user] == nil%>
          <%= link_to "登出", log_out_visitors_path, class:"btn btn-warning btn-xs" if session[:user] != nil%>
        </p>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-2" id="nav">
          <p><%= link_to '關於我', root_path %></p>
          <p><%= link_to '網頁簡介', intro_path %></p>
          <p class="title">個人練習</P>
          <p><%= link_to '留言板', comments_path %></p>
          <p><%= link_to '訪客', visitors_path %></p>
          <p class="title">課本範例練習</P>
          <p><%= link_to '投票系統', candidates_path %></p>
          <p><%= link_to '購物車', products_path %></p>
          <p><%= link_to 'BMI', bmi_path %></p>
        </div>
        <div class="col-sm-10" id="content">
          <%= yield %>
          <%= notice %>
          <div class="footer">
            Copyright © sby318@gmail.com. All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
