<!DOCTYPE html>
<html>
  <head>
    <title>HelloRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-2" id="nav">
          <%= link_to '關於我', root_path %><br>
          <p>課本範例練習</P>
          <%= link_to 'candidates', candidates_path %><br>
          <%= link_to 'BMI', bmi_path %>
        </div>
        <div class="col-sm-10">
          <%= notice %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
