<!DOCTYPE html>
<html>
  <head>
    <title>Boyen-Ruby</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'layouts/header' %>
    <div class="container">
      <div class="row">
        <div class="col-sm-2" id="nav">
          <%= render partial: 'layouts/nav' %>
        </div>
        <div class="col-sm-10" id="content">
          <%= yield %>
          <%= notice %>
          <div class="footer">Copyright © sby318@gmail.com. All rights reserved.</div>
        </div>
      </div>
    </div>
  </body>
</html>
